<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TCTester.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <TCTester.My.MySettings>
            <setting name="BarCodeFile" serializeAs="String">
                <value>c:\barcode.csv</value>
            </setting>
            <setting name="BarCodeSeparador" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="BarCodeAudio" serializeAs="String">
                <value>c:\tts.wav</value>
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value>192.168.0.55</value>
            </setting>
        </TCTester.My.MySettings>
    </userSettings>
</configuration>
